<div class="container" style="max-width: 800px">
    <a href="/">⬅ Back to all forms</a>
    <h1>Send Template Emails</h1>

    <div id="alert" class="alert show" style="visibility: hidden;">
        <button type="button" class="close" onclick="$(this).closest('.alert').css('visibility', 'hidden')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="alert-content"></div>
    </div>

    <form id="form">
        <div class="form-group mb-4">
            <label>Auth Token</label>
            <input class="form-control" type=text name="auth_token" />
        </div>

        <div class="form-group mb-4">
            <label>Subject</label>
            <input class="form-control" type=text name="subject" />
        </div>

        <div class="form-group mb-4">
            <label>Template</label>
            <input class="form-control" type=text name="template" />
        </div>

        <div class="form-group mb-4">
            <label>Tag</label>
            <input class="form-control" type=text name="tag" />
        </div>

        <div class="form-group mb-4">
            <label>Verified Email?</label>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="verified" value="">
                    <em>don't filter on this attribute</em>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="verified" value="yes" checked>
                    yes - only verified email addresses </label>
            </div>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="verified" value="no">
                    no - only unverified email addresses
                </label>
            </div>
        </div>

        <div class="form-group mb-4">
            <label>App Users?</label>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="installed" value="" checked>
                    <em>don't filter on this attribute</em>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="installed" value="yes">
                    yes - only users who have run the app at least once </label>
            </div>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="installed" value="no">
                    no - only users who have never run the app
                </label>
            </div>
        </div>

        <div class="form-group mb-4">
            <label>Mailgun Tag (optional)</label>
            <input class="form-control" type=text name="mailgun_tag" />
            <p class="form-text text-muted">
                Setting a mailgun tag will tag this campaign in Mailgun, allowing you to track click/open stats.
                See the <a href="https://app.mailgun.com/app/analytics" target="_blank">Mailgun analytics tab</a>.
            </p>
        </div>

        <div class="form-group mb-4">
            <label>Confirm?</label>

            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="confirm" value="" checked> testing </label>
            </div>
            <div class="form-check">
                <label class="form-check-label"> <input class="form-check-input" type="radio" name="confirm" value="yes"> REALLY SEND IT
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/javascripts/jquery-3.2.1.js"></script>
<script src="/javascripts/tether.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/shared.js"></script>
<script src="/javascripts/login_redirect.js"></script>
<script>
    $(document).ready(function () {
        var form = $("#form");

        var onChange = function (event) {
            var on = form.find("input[type=radio][name=tag]:checked").val() != "custom";
            $("#custom-tag").prop("disabled", on).prop("readonly", on);
        };

        form.on("change", "input", onChange);
        onChange();

        form.on("submit", function (event) {
            form.find("input[name=tag][value=custom]").prop("disabled", true);

            window.lbryforms.submit(event, form, '/template/send')
                    .always(function(){
                        form.find("input[name=tag][value=custom]").prop("disabled", false);
                    });
        });
    });
</script>
